.portfolio {
  &Nav {
    @include size(100%, auto);
    background-color: $color-transparent;
    opacity: 70%;
    position: absolute;
    z-index: 1;
    &__logo {
      img {
        @include size(100%, 100px);
        object-fit: contain;
      }
    }

    &__menu {
      @include align(flex, center, center);
      ul {
        li {
          margin: 0 18px;
          .nav-link {
            @include font($font-family, $color-text, 18px, 700);
          }
        }
      }
    }

    &__contact {
      button {
        background-color: $secondary-color;
        color: white;
        padding: 8px 12px;
        border: none;
        border-radius: 10px;
      }
    }
  }
}
