.portfolio {
  &Nav {
    &__logo {
      img {
        @include size(100%, 100px);
        object-fit: contain;
      }
    }

    &__menu {
      @include align(flex, center, center);
      font-size: 18px;
      ul {
        li {
          margin: 0 18px;
        }
      }
    }
  }
}
